
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#"> LifeLine Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
           
            <li class="nav-item">
              
                <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"  routerLink="/doclogin">Back</a>
                
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="text-center"> Add New Medicines</h2>
    <form (ngSubmit)="onSubmit()">
     <div class="form-group">

        <label>DrugName</label>
        <input type="text" id="drugname"   class="form-control" name="drugname" placeholder="Enter drug name" [(ngModel)]="medicine.drugname">
        <Br>
        <label>Stock</label>
        <input type="text" id="stock"   class="form-control" name="stock" placeholder="Enter stock" [(ngModel)]="medicine.stock">
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
     </div>
    </form>
</div>
 