<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#"> LifeLine Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

            <li class="nav-item">
                <a style="color: white;" class="nav-link active" [routerLink]="'/create_medicine'">Add Medicines</a>

                
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"  routerLink="/doclogin">Back</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <h2 class="text-center">Medicine List</h2>
    <br>
    <a style="color: rgb(86,86,86); font-size:x-large;">Welcome to Medicines List Page.Click Add Medicine to Add Medicines.</a>

<table class="table table-striped">
    <thead class=" table-header">
        <tr>
            <th>Id</th>
            <th>Drug Name</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.id }}</td>
        <td>{{ medicine.drugname }}</td> 
        <td>{{ medicine.stock }}</td>  
        <td>
            <button (click)="update(medicine.id)" class="btn btn-info">Update</button>
            <button (click)="delete(medicine.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>

        </td>
    </tr>
</tbody>
</table>
</div>