<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#"> LifeLine Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item">
                <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"  routerLink="/doclogin">Back</a>
            </li>
           
        </ul>
    </div>
</nav>


<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded">
        <h3 class="text-center text-primary">Patient Details</h3>
        <hr>
        <div class="row">
            <div class="col-md-6"><strong>ID:</strong> {{patient.id}}</div>
            <div class="col-md-6"><strong>Name:</strong> {{patient.name}}</div>
            <div class="col-md-6 mt-2"><strong>Age:</strong> {{patient.age}}</div>
            <div class="col-md-6 mt-2"><strong>Blood Group:</strong> {{patient.blood}}</div>
            <div class="col-md-6 mt-2"><strong>Dose:</strong> {{patient.does}}</div>
            <div class="col-md-6 mt-2"><strong>Fees:</strong> {{patient.fees}}</div>
            <div class="col-md-6 mt-2"><strong>Urgency:</strong> {{patient.urgency}}</div>
        </div>
    </div>
</div>